#text{
    border: 0;  
}
/* #div_title{
    margin-top: 10px;
    background-color: #6f96b2;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 60px;
} */

#div_title{
  margin-top: 10px;
  /* background-color: linear-gradient(to right,  #c02323,rgb(20, 20, 20));  */
  text-align: center;
  align-content: center;
  width: 100%;
  height: 60px;
  text-decoration: underline;
  text-decoration-color:  #c02323;
}

h1 { color: #fefefe; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 35px; 
    font-weight: bold; 
    letter-spacing: 1px; 
    line-height: 1; 
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;

 }

body{
    background-color: rgb(26, 26, 26);
    font-family: 'Helvetica Neue', sans-serif; 
}

#div_footer{
    text-align: center;
    align-content: center;
    padding-top: 15px;

}

#text_2{
    border: 0;  
}



.scroll {
    background-color: #2d2d2d;
    color:rgb(245, 245, 245);
    border-radius: .5rem;
    width: 600px;
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    padding: 20px;
  }

  /*
 *  STYLE 3
 */
 #style-2::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   border-radius: 6px;
   background-color: rgb(20, 20, 20);
 }
 
 #style-2::-webkit-scrollbar
 {
   width: 6px;
   background-color: rgb(20, 20, 20);
 }
 
 #style-2::-webkit-scrollbar-thumb
 {
   border-radius: 6px;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
   background-color: #c02323;
 }



 
#one_button{
  background-color: #353535;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: rgb(245, 245, 245);
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;

  }
  
  #one_button:hover {
    background-color: #c02323;
  }
  


  #display{
    background-color:  #353535;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: rgb(245, 245, 245);
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;

  }
  
  #display:hover {
    background-color: #c02323;
  }